.currency-converter {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .input-group {
    margin-bottom: 10px;
  }
  
  .result {
    margin-top: 20px;
    font-weight: bold;
  }

  .converter-card {
    border-width: 10px; /* Increase border width */
    border-style: solid; /* Set border style */
    border: 500
  }
  